body {
    background-color: #FFF;
    width:400px;
}

.Name {
    position: fixed;
    border: 3px solid;
    width: 131px;
    padding: 5px;
    top:5px;
    left:5px;
}

.Level {
    position: relative;
    left: 150px;
    bottom: 3;
    border: 3px solid;
    width: 131px;
    padding: 5px;
}

h2 {
    padding:0px;
    margin:0px;
    border:0px;
}

.Class {
    position: absolute;
    left: 158px;
    border: 3px solid;
    width: 131px;
    padding: 5px;
    top: 92px;
}

.Race {
    position: relative;
    right: 3px;
    border: 3px solid;
    width: 131px;
    padding: 5px;
    top: 3px;
}

.Subrace {
    position: relative;
    right: 3px;
    border: 3px solid;
    width: 131px;
    padding: 5px;
    top: 8px;
}

.Button {
    position: absolute;
    left: 158px;
    width: 131px;
    padding: 5px;
    top: 365px;
}

.Combat {
    position: absolute;
    top: 0px;
    left: 200px;
    padding:10px;
}

.Main {
    height: 160;
}

.Skills {
    position: relative;
    top: -330px;
    left: 200px;
    padding:10px;
    height: 0px;
    margin:0px;
}

.Abilities {
    height:320px;
}

.GitHub {
    position: relative;
    top: 100px;
}