<head>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'character.css' %}">
</head>
<body>
<div class="Main">
<h1><span>{{ Name }}</h1>
            <h3>Level {{ Level }} {{ Class }}<br >
                {{ Subrace }} {{ Race }}
            </h3></div>
    <div class="Combat">
        <strong>AC:</strong>{{ AC }}<br />
        <strong>HP: </strong>{{ Hit_Points }}<br />
        <strong>Hit Dice: </strong>{{ Level }} d{{ Hit_Dice }}<br />
        <strong>Speed: </strong>{{ Speed }}<br />
        <strong>Proficiency Bonus: </strong>{{ Proficiency_Bonus }}<br />
        <strong>Size: </strong>{{ Size }}<br />
        <strong>Initiative: </strong>{{ Initiative }}
        {% if Caster %}
            <br /><strong>Casting Stat: </strong>{{ Casting_Stat }}
        {% endif %}
    </div>

    <hr>
 <p>{% for key, value in Melee_Weapon.items %}<strong>{{ key }}<br /></strong> <strong> Type: </strong>{{ value.Type }}<strong> Damage: </strong>{{ value.Damage }}<strong> Notes: </strong>{{ value.Notes }}<br />{% endfor %}</p>
                    <p>{% for key, value in Ranged_Weapon.items %}<strong>{{ key }}<br /></strong> <strong> Type: </strong>{{ value.Type }}<strong> Damage: </strong>{{ value.Damage }}<strong> Notes: </strong>{{ value.Notes }}<br />{% endfor %}</p>
                    <hr>
<div class="Abilities">    <table>
        {% for ability, score in Ability_Scores.items %}
            <tr>
                <td colspan=2><strong>{{ ability }}</strong></td>
            </tr>
            <tr>
                <td>{{ score }}</td>
                <td>({% for thing, bonus in Ability_Bonuses.items %}{% if thing is ability %}{{ bonus }}{% endif %}{% endfor %})</td>
            </tr>
        {% endfor %}
    </table></div>

<div class="Skills">
        {% for skill, bonus in Skill_Bonuses.items %}<strong>{{ skill }}:</strong> {{bonus}}<br /> {% endfor %}
</div>
    <hr>
<div class="Powers">
     {% for power in Powers %}              
     <p><strong>{{ power.Name }}: </strong>{{ power.Text }}</p>
     {% endfor %}                           
</div>
<div class="Miscellaneous">
    <strong>Darkvision: </strong>{{ Darkvision }}
    <div class="Proficiencies">
        <strong>Skills Proficiencies: </strong> <i>{% for skill in Skill_Proficiencies %}{{ skill }} {% endfor %}</i>{% if Expertise_Skills|length > 0 %}<br /><strong>Expertise Skills: </strong><i>{% for skill in Expertise_Skills %}{{ skill }} {% endfor %}</i><br />{% endif %}
        <strong>Languages: </strong>{%for language in Languages %}{{ language }} {% endfor %}<br />
        <strong>Tool Proficiencies: </strong>{%for tool in Tool_Proficiencies %}{{ tool }} {% endfor %}<br />
        <strong>Saving Throws: </strong>{% for save in Saves %}{{ save }} {% endfor %}<br />
        <strong>Weapon Proficiencies: </strong>{% for weapon in Weapon_Proficiencies %}{{weapon}} {% endfor %}<br />
        <strong>Armor Proficiencies: </strong>{% for armor in Armor_Proficiencies %}{{armor}} {% endfor %}

    </div>
</div>
    <hr>
<div class="Equipment">
        {% for item in Armor %}
                    <p><strong>{{ item.Name }}<br /></strong><strong> AC: </strong>{{ item.AC }}{% if item.Strength > 0 %}<strong> Strength Required: </strong>{{ item.Strength }}{% endif %} {% if item.Dex_max < 10 %}<strong>Max Dex bonus:</strong> {{ item.Dex_max }}{% endif %} {% if item.Disadvantage %}Disadvantage on Stealth checks {% endif %}</p>
        {% endfor %}
</div>
{% if Caster %}
    <hr>
<div class="Spells">
    <p><strong>Spellcasting</strong><br />{% for spell in Spells %}{{ spell }}, {% endfor %}</p>
    <p><strong>Spell Slots</strong><br />{% for level, slots in Spell_Slots.items %}Level {{ level }} Spell Slots: {{ slots }} <br />{% endfor %}</p>
{% endif %}</div>
</body>